@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title" style="text-transform: uppercase">Resultado</h5>
                <p class="card-text">O resultado da operação de multiplicação é: @ViewData["result"]</p>
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div>
        </div>
    </div>
</div>
